/* ==============================================
BUTTONS
============================================== */
.button {
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $font-headline;
  letter-spacing: 1px;

  &--primary {
    color: white;
    background-color: $color-primary;
  }
}

.badge {
  background: $color-link;
  font-weight: bold;
  font-family: helvetica, helvetica neue, arial, sans-serif;
}
/* ============================================== */