/* ==============================================
SITE HEADER
============================================== */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  &__left {
    flex: 0 1 420px;

    a {
      color: $color-text;
      text-decoration: none;
    }
  }

  &__logo {
    flex: 0 0 auto;
  }

  &__right {
    flex: 0 1 420px;
    clear: both;

    > nav {
      float: right;
    }

    .list-reset {
      margin-left: auto;
      text-transform: uppercase;
      font-family: $font-headline;
    }

    a {
      color: $color-text;
      letter-spacing: 0.5px;
      text-decoration: none;
    }
  }

  .close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    opacity: 0;
    transition: all .5s $ease-out-quad;
  }

  .menu-button {
    position: absolute;
    left: 16px;
    top: 20px;
  }

  .icon-close {
    display: none;
  }

  .icon-menu {
    // display: none;
  }
}

#main-menu {
  display: flex;

  > ul {
    display: flex;

    > li {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .menu-item {
    text-transform: uppercase;
    font-family: $font-headline;

    a {
      @extend .antialias;
      color: $color-text;
      letter-spacing: 0.5px;
    }
  }
}

@media (min-width: $mq-lg) {
  .icon-menu {
    display: none;
  }
}


/* ==============================================
RESPONSIVE - TABLET
============================================== */
@media (min-width: $mq-md) and (max-width: $mq-lg) {
  
}


/* ==============================================
RESPONSIVE - MOBILE
============================================== */
@media (max-width: $mq-lg) {
  .site-header {
    padding: 15px 20px;
    
    &__left {
      position: fixed;
      z-index: 1000;
      height: 100vh;
      top: 0;
      left: -340px;
      width: 80vw;
      max-width: 340px;
      background-image: linear-gradient(-45deg, #e0e0e0, #fff);
      box-shadow: 10px 0 20px transparent;
      transition: all .3s $ease-out-quad;

      .menu {
        padding-top: 61px;

        > ul {
          flex-direction: column;
          width: 100%;
        }

        .menu-item {
          margin: 0 !important;
          padding: 20px; 
          border-bottom: 1px solid #e0e0e0;

          &:first-child {
            border-top: 1px solid #e0e0e0;
          }

          > a {
            display: block;

            &:hover {

            }
          }
        }
      }

      &.show {
        left: 0;
        box-shadow: 10px 0 20px rgba(black, .3);

        .close-button {
          transition-delay: .25s;
          opacity: 1;
        }
      }

      .icon-close {
        display: block;
      }

      .icon-menu {
        display: block;
      }
    }

    &__right {
      margin-right: -16px;

      a {
        font-size: 14px;
      }
    }

    &__logo {
      position: relative;
      z-index: 1500;
      left: 32px;
      width: 140px;
      transition: all .3s $ease-out-quad;

      &.show {
        position: relative;
        left: 1px;
      }
    }
  }
}