{% set currentYear = now.year %}

<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="logo">
        <a href="{{ url('/') }}"><img src="/images/logo-mavenshake.svg" alt="MavenShake Logo"></a>
      </div>

      <div class="backtotop">
        Back to top <i class="icon icon-backtotop" data-feather="chevrons-up"></i>
      </div>
    </div>

    <div class="footer__middle">
      <div class="footer__nav footer__nav--main">
        {{ craft.olivemenus.getMenuHTML('footerNavigation') }}
      </div>

      <div class="footer__nav footer__nav--legal">
        {{ craft.olivemenus.getMenuHTML('legal') }}
      </div>
    </div>

    <div class="footer__bottom">
      <p class="footer__signoff">&copy; {{ currentYear }} Maven Wellness, LLC. All rights reserved.</p>

      <div class="footer__social">
        <a href="https://www.instagram.com/mavenshake/" target="_blank"><img src="/images/icons/icon-instagram.svg" alt="Mavenshake on Instagram"></a>
        <a href="https://www.facebook.com/Mavenshake/" target="_blank"><img src="/images/icons/icon-facebook.svg" alt="Mavenshake on Facebook"></a>
      </div>
    </div>
  </div>
</footer>