{% extends "_layouts/base" %}
{% block body_class %}view-shop{% endblock %}

{% block sitemeta %}
<title>{{ "MavenShake - No-nonsense Nutrition"|t }}</title>
<meta name="description" content="{{ "The example templates for Craft Commerce"|t }}">
{% endblock %}

{% block main %}

{% endblock %}