{% extends "_layouts/base" %}
{% block body_class %}view-home{% endblock %}

{% block sitemeta %}
<title>{{ "MavenShake - No-nonsense Nutrition"|t }}</title>
<meta name="description" content="{{ "The example templates for Craft Commerce"|t }}">
{% endblock %}

{% block main %}
  <div class="message-main">
    <h1 class="headline">Shake up your routine</h1>
    <p class="subhead">
      An all-natural, all-in-one superfood supplement that won’t slow you down from living your life to the fullest.
    </p>

    <a href="/shop" class="button button--primary">Shop now</a>

    <p>
      or <a href="/ingredients">Learn about our ingredients</a>
    </p>
  </div>

  <div class="product-info">
    <img src="images/homepage-product.png" alt="">
  </div>

  <a href="/shop/products">View Products page</a>
{% endblock %}