<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <nav>
    {{ craft.olivemenus.getMenuHTML('mainNavigation') }}
  </nav>

  <h2>This is the marketing homepage</h2>

  <a href="/shop/">View Shop home</a>
  <br>
  <a href="/shop/products">View Products page</a>
  <br>
  <a href="/shop/checkout/register-signin">Sign in or Register</a>

  {# ------------------------------------------------
  Included with craft starter templates
  ------------------------------------------------ #}
  {#

  #}

</body>
</html>